__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/
env/

# Data (large files tracked separately via DVC or Git LFS)
data/raw/
data/processed/

dataset/HAM10000_images_part_1/
dataset/HAM10000_images_part_2/

# Trained weights (store in cloud / model registry)
models/*.pt
models/*.pth
models/*.h5

# Notebooks checkpoints
.ipynb_checkpoints/

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/
